{% extends 'admin/change_list.html' %}

{% block content_title %}
    <h1>Отчеты по прогулам</h1>
{% endblock %}
{% block result_list %}
<div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Имя в телеграм</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Кол-во прогулов</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.name }} </td>
        <td> {{ row.total_absences }} </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>
{% endblock %}
{% block pagination %}{% endblock %}